<!DOCTYPE html>
<html>
  <head>
    <title>FirstRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ol>
      <li><%#= link_to("The text of the link", "/the/path/of/the/link") %></li>
      <!-- link_to is a helper method (so, a method available to the views) which generates
      an anchor HTML tag -->
      <!-- Remember there's another syntax for calling methods in Ruby? -->
      <!-- So it could be link_to "The text of the link", "/the/path/of/the/link" -->
      <li><%= link_to "Homepage", root_path %><!-- same as <a href="/">Homepage</a> --></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact us", contact_us_path %></li>
      <li><%= link_to "Learn more about Mastodon", mastodon_path %></li>
    </ol>

    <%= yield %>

    <p>A beautiful footer</p>
  </body>
</html>
